:root {
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);

    --dark-desaturated-cyan: hsl(167, 40%, 24%); /* graphic design text */
    --dark-blue: hsl(198, 62%, 26%); /* photography text */
    --dark-moderate-cyan: hsl(168, 34%, 41%); /* footer */
    --bg-footer: #90D4C5; /* footer */

    --bg-section: #FFFBF8;

    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);

    --font-size: 1.125rem;
    --spacing: 1.5rem;
    --triangle-size: 35px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1 {
    line-height: 1;
}

body {
    font-family: 'Barlow', sans-serif;
    font-size: var(--font-size);
    color: var(--very-dark-desaturated-blue);
    line-height: 1.6;
    height: 100%;
}

img {
    display: block;
    max-width: 100%;
    height: 100%;
}

.img-desktop {
    display: none;
}

.img-mobile {
    display: block;
}

/********** HEADER **********/

.container {
    margin: 0 auto;
}

header {
    padding: var(--spacing);
    background-image: url("images/mobile/image-header.jpg");
    background-position: center -300px;
    background-repeat: no-repeat;
    position: relative;
}

header .nav {
    display: flex;
    margin-bottom: 5em;
}

header .toggle {
    margin-left: auto;
}

header .toggle:hover {
    cursor: pointer;
}

.active {
    display: flex !important;
}

header ul {
    display: none;
    gap: var(--spacing);
    justify-content: space-around;
    align-items: center;
    position: absolute;
    background: var(--white);
    flex-direction: column;
    z-index: 2;
    top: 6em;
    left: 1em;
    right: 1em;
    padding: 2em;
}

header ul::before {
    content: '';
    width: var(--triangle-size);
    height: var(--triangle-size);
    right: 0;
    top: calc(var(--triangle-size) * -1);
    z-index: 10;
    border-style: solid;
    border-width: var(--triangle-size) var(--triangle-size) 0 0;
    border-color: transparent var(--white) transparent transparent;
    position: absolute;
}

.contact {
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    padding: 0.85em 1.25em;
    font-size: 1rem;
    border-radius: 100vh;
    background: var(--yellow);
    color: black;
    position: relative;
    z-index: 1;
}

.nav img {
    display: flex;
    align-self: center;
}

header h1 {
    text-align: center;
    letter-spacing: 0.25em;
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    color: var(--white);
    margin-bottom: 10em;
}

header .arrow {
    position: absolute;
    left: calc(50% - 56px / 2);
    height: 180px;
    top: 45%;
    bottom: 0;
    right: 0;
}

header a {
    text-decoration: none;
    color: #888888;
}

/********** TRANSFORM & STAND OUT **********/

.transform,
.stand-out {
    display: flex;
    flex-direction: column;
    background: var(--bg-section);
}

.transform text,
.stand-out text {
    padding: var(--spacing) 4em;
    text-align: center;
}

.transform h1,
.stand-out h1 {
    font-family: 'Fraunces', serif;
    font-size: 2.5rem;
    font-weight: 900;
    padding: var(--spacing);
}

.transform p,
.stand-out p {
    color: var(--dark-grayish-blue);
    padding: var(--spacing);
}

.transform a,
.stand-out a {
    display: inline-block;
    font-family: 'Fraunces', serif;
    padding: var(--spacing);
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--very-dark-desaturated-blue);
    margin-bottom: var(--spacing);
    position: relative;
    z-index: 1;
}

.transform a:hover,
.stand-out a:hover,
.transform a:hover::after,
.stand-out a:hover::after {
    opacity: 1;
}

.transform a::after,
.stand-out a::after {
    content: '';
    position: absolute;
    background: var(--yellow);
    opacity: 0.25;
    top: 50%;
    border-radius: 5px;
    right: 10px;
    bottom: 25px;
    left: 10px;
    z-index: -1;
}

.stand-out a::after {
    background: var(--soft-red);
}

/********** GRAPHIC DESIGN & PHOTOGRAPHY **********/

.graph-des-photo {
    display: flex;
    flex-direction: column;
}

.graphic-design,
.photography {
    position: relative;
}

.graphic-design img,
.photography img {
    position: absolute;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.graphic-design {
    color: var(--dark-desaturated-cyan);
}

.photography {
    color: var(--dark-blue);
}

.graphic-design h1,
.photography h1 {
    font-size: 2.5rem;
    font-family: 'Fraunces', serif;
    margin-top: 10em;
    padding: var(--spacing);
}

.graphic-design p,
.photography p {
    padding: var(--spacing);
}

/********** TESTIMONIALS **********/

.testimonials {
    padding: var(--spacing);
    background: var(--bg-section);
    text-align: center;
    margin-bottom: var(--spacing);
}

.testimonials ul {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
}

.testimonials h1 {
    letter-spacing: 0.2em;
    color: var(--grayish-blue);
    font-size: 1.5rem;
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    margin-bottom: var(--spacing);
}

.testimonials img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto var(--spacing) auto;
}

.testimonials .comment {
    color: var(--dark-grayish-blue);
    padding: 0 4em;
    margin-bottom: var(--spacing);
}

.testimonials .name {
    font-family: 'Fraunces', serif;
    color: var(--very-dark-desaturated-blue);
}

.testimonials .profession {
    color: var(--grayish-blue);
    font-size: 0.8rem;
    margin-bottom: var(--spacing);
}

/********** PRE FOOTER **********/

.pre-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

/********** FOOTER **********/

footer {
    padding: var(--spacing);
    background-color: var(--bg-footer);
    display: flex;
    flex-direction: column;
}

footer .logo {
    margin: var(--spacing) auto;
}

footer ul {
    margin: 2em auto;
    display: flex;
    gap: var(--spacing);
}

footer ul.nav {
    gap: 3em;
}

footer a {
    color: var(--dark-moderate-cyan);
    text-decoration: none;
}

footer a:hover {
    color: var(--white);
}

.social li:hover > .show-hover {
    display: block;
}

.social li:hover > .hide-hover {
    display: none;
}

.show-hover {
    display: none;
}


@media (min-width: 950px) {

    .img-desktop {
        display: block;
        width: 100%;
    }

    .img-mobile {
        display: none;
    }

    header {
        background-image: url("images/desktop/image-header.jpg");
    }

    header ul .logo {
        margin-right: auto;
    }

    header ul {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        position: initial;
        background: transparent;
        padding: 0;
    }

    header a {
        display: block;
        color: var(--white);
    }

    header .toggle {
        display: none;
    }

    .contact {
        text-transform: uppercase;
        font-family: 'Fraunces', serif;
        padding: 0.5em 1.25em;
        font-size: 1rem;
        border-radius: 100vh;
        background: var(--white);
        color: black;
        position: relative;
        z-index: 1;
    }

    .contact::before {
        content: '';
        border-radius: 100vh;
        background: var(--white);
        position: absolute;
        inset: 0;
        z-index: -1;
    }

    .contact:hover::before {
        opacity: 50%;
    }

    .contact:hover {
        color: var(--white);
        background: transparent;
    }

    .transform {
        align-items: center;
        flex-direction: row-reverse;
    }

    .stand-out {
        align-items: center;
        flex-direction: row;
    }

    .transform > *,
    .stand-out > *,
    .graph-des-photo > * {
        flex: 1;
    }

    .graph-des-photo {
        flex-direction: row;
    }

    .testimonials {
        margin-bottom: 0;
    }

    .testimonials ul {
        flex-direction: row;
    }

    .pre-footer {
        display: flex;
    }

    .pre-footer img {
        width: 10px;
        flex: 1;
    }
}